.itemcard {
   padding-top:0px;
   min-height:150px;
   position:relative
   }
   .itemcard:before,.last-itemcard:after {
   background:#fff;
   border:3px solid #42A8C0;
   border-radius:50%;
   width:30px;
   height:28px;
   display:inline-block;
   content:"";
   margin-left:1rem;
   position:relative;
   z-index:1;
   left:calc(3% - 34px)
   }
   .vertical-line {
   width:3px;
   background-color:#42A8C0;
   position:absolute;
   left:calc(2% - 5px);
   top:0;
   bottom:0
   }
   .itemcard .card-panel {
   margin:0;
   margin:2rem 0 0 3rem
   }
   .itemcard-date {
   margin-top:-60px;
   margin-left:4rem
   }
   .cv-title {
   margin-bottom:0;
   margin-left:calc(2% - 5px);
   line-height:190%
   }
   .cv-title span {
   padding:1rem
   }
   .last-itemcard{
   padding-top:80px;
   height:70px;
   position:relative
   }